:root {
    --main-color:   rgba(36, 43, 89, 1);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    color: var(--main-color);
}

.gr-section{
    background-color: rgba(240, 240, 240, 1);
}

svg {
    fill: var(--main-color);
}

img{
    max-width: 100%;
}

.el-btn{
    background: var(--main-color);
    color: white;
}

.el-btn:hover{
    color: white;
}