.desktop-header, .mobile-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    border-bottom: 1px solid var(--main-color)
}

.desktop-header.admin{
    top: 32px;
}

.desktop-header img{
    width: auto;
}

#menu-menu-principal{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu-menu-principal li{
    display: inline;
    padding: 0 1rem;
}

#menu-menu-principal a, .desp-menu a{
    color: rgba(50, 50, 50, 1);
    transition: .5s;
    cursor: pointer;
}

#menu-menu-principal a:hover{
    font-weight: bolder;
    transition: .5s;
    text-decoration: none;
}

.icon-whatsapp{
    position: fixed;
    z-index: 5;
    bottom: 1rem;
    right: 1rem;
}

.mobile-header .custom-logo{
    width: 100%;
    height: auto;
    max-width: 200px;
}

.desp-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.desp-menu ul li{
    padding: .5rem 0;
}

@media (max-width: 500px){
    .icon-whatsapp svg{
        width: 30px;
        height: 30px;
    }
}